:root {
    --primary-color: #0d103f;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoImg {
    width: 6em;
    margin: 0 1em;
}

.searchBar {
    border: .18em solid var(--primary-color);
    padding: .3em;
    border-radius: 1em;
    transition: .5s;
}


.searchBar input {
    height: 1.4em;
    width: 20em;
    border: none;
    padding: .5em;
    transition: .5s;
}

.searchBar input:focus {
    border: none;
    outline: none;
}

.searchBar:focus-within {
    transform: scale(1.1); /* Aumentar el tamaño del contenedor */
}

.icon {
    color: var(--primary-color);
}

.CartAndUser{
    display: flex;
    align-items: center;
}

.CartAndUser ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.CartAndUser li {
    margin: 0 1em;
}

.CartAndUser a{
    text-decoration: none;
    color: var(--primary-color);
}


.CartAndUser a img {
    width: 2em;
    border-radius: 1em;
}


.signUp {
    border: 2px solid var(--primary-color);
    border-radius: 1em;
    padding: .5em;

    transition: .5s;
}

.signUp:hover {
    background-color: var(--primary-color);
    color: #fff;
}



.shoppingCart {
    font-size: 1em;
}




